<% content_for :javascript_includes do %>
  <%= javascript_include_tag "isInViewport.js" %>
<% end %>

<% unless @landing_page.banner.url.nil? %>
  <section class="lp-banner no-padding-lr">
    <div class="row justify-content-center no-margin-lr">
      <div class="col-12 no-padding-lr">
        <%= image_tag @landing_page.banner.url, class: "img-fluid" %>
      </div>
    </div>
  </section>
<% end %>

<% unless  @landing_page.section_one.nil? %>
  <section class="lp-section_one no-padding-lr" style="background-color:<%= @landing_page.color_one %>">
    <% if @landing_page.section_one.include?("video_tag") %>
      <div class="container no-padding-lr">
        <div class="row justify-content-center no-margin-lr">
          <div class="col-12 no-padding-lr">
              <%= video_tag @landing_page.video.url, class: "img-fluid my-video",
                            loop: true, playsinline: "playsinline" %>

          </div>
        </div>
      </div>
    <% else %>    
      <div class="container no-padding-lr">
        <div class="row justify-content-center no-margin-lr">
          <div class="col-12 no-padding-lr">
            <div class="my-content">
              <%= raw(@landing_page.section_one) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>
<% end %>

<% unless  @landing_page.section_two.nil? %>
  <section class="lp-section_one no-padding-lr" style="background-color:<%= @landing_page.color_two %>">
    <% if @landing_page.section_two.include?("video_tag") %>
      <div class="container no-padding-lr">
        <div class="row justify-content-center no-margin-lr">
          <div class="col-12 no-padding-lr">
              <%= video_tag @landing_page.video.url, class: "img-fluid my-video",
                            loop: true, playsinline: "playsinline" %>

          </div>
        </div>
      </div>
    <% else %>    
      <div class="container no-padding-lr">
        <div class="row justify-content-center no-margin-lr">
          <div class="col-12 no-padding-lr">
            <div class="my-content">
              <%= raw(@landing_page.section_two) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>
<% end %>

<% unless  @landing_page.section_three.nil? %>
  <section class="lp-section_one no-padding-lr" style="background-color:<%= @landing_page.color_three %>">
    <% if @landing_page.section_three.include?("video_tag") %>
      <div class="container no-padding-lr">
        <div class="row justify-content-center no-margin-lr">
          <div class="col-12 no-padding-lr">
              <%= video_tag @landing_page.video.url, class: "img-fluid my-video",
                            loop: true, playsinline: "playsinline" %>

          </div>
        </div>
      </div>
    <% else %>    
      <div class="container no-padding-lr">
        <div class="row justify-content-center no-margin-lr">
          <div class="col-12 no-padding-lr">
            <div class="my-content">
              <%= raw(@landing_page.section_three) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>
<% end %>

<script>
  jQuery(document).ready(function($) {
    $(window).scroll(function() {
      if ($('video').is(":in-viewport(300)")) {
        $('video')[0].play();
      } else {
        $('video')[0].pause();
      }
    });
  });
</script>


