<section class="admin-section-content">
  <div class="container">
    <div class="row">
      <div class="col-12 header-n-breadcrumb">
        <div class="row">
          <div class="col-12 col-md-6">
            <h2>LANDING PAGES<%#= "#{@landing_page.name.titleize} - #{@brand.name.titleize}" %></h2>
          </div>
          <div class="col-12 col-md-6 align-self-center">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
                <li class="breadcrumb-item active" aria-current="landing_page">Landing Pages</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-sm-12 admin-landing_pages">
        <%= render :partial => "shared/flash" %>
        <p><%= link_to "Add new landing_page", new_admin_landing_page_path, class: "btn btn-primary" %></p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Url</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% @landing_pages.each_with_index do |landing_page, x| %>
              <tr>
                <th scope="row"><%= @no+x+1 %></th>
                <td><%= landing_page.title %></td>
                <td><%= link_to "home/#{landing_page.permalink}", landing_page_path(landing_page.permalink) %></td>
                <td>
                  <%= link_to "Edit", edit_admin_landing_page_path(landing_page.id, :landing_page => params[:landing_page]), :class => "btn btn-success" %>
                  <%= link_to "Delete", admin_landing_page_path(landing_page.id, :landing_page => params[:landing_page] ), :method => :delete,
                                        data: {:confirm => "Are you sure?"}, :class => "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="col-xs-12 pagination justify-content-center"><%= paginate @landing_pages %></div>
      </div>
    </div>
  </div>
</section>

