<% content_for :javascript_includes do %>
  <%= javascript_include_tag "owl.carousel" %>
  <%= stylesheet_link_tag  "owl.carousel", "animate", "owl.theme" %>
<% end %>

<script>
  jQuery(document).ready(function($) {
    $('.banner').owlCarousel({
      animateOut: 'slideOutDown',
      animateIn: 'flipInX',
      loop: true,
      autoplay: true,
      autoplayHoverPause: true,
      items: 1,
      nav : true,
      dotsEach: true,
      autoplaySpeed: 5000,
      navText : ['<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-left fa-stack-1x fa-inverse"></i></span>','<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-right fa-stack-1x fa-inverse"></i></span>']
    });
  });
</script>

<!-- header -->
<% adjust_header = current_user.nil? ? "" : "logged-banner" %>
<section id="header" class="<%= adjust_header %>">
  <div class="row no-gutters f-banner">
    <div class="col-12">
      <div class="about-us-header">
        <div class="container cover-content">
            <h3>Tentang Kami</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about-us-content" class="main-section">
  <div class="container" style="margin-top:50px;">
    <div class="row vision">
      <div class="col-12 col-md-6">
        <%= image_tag "img_visi.jpg", class: "img-fluid" %>
      </div>
      <div class="col-12 col-md-6 align-self-center">
        <h2 class="title">Visi</h2>
        <p class="subtitle">Menjajah Indonesia dengan cita rasa. 
          Kandang Ayam berupaya maksimal untuk mencapai visi ini, dengan selalu menjamin
          kualitas dan mutu produk-produknya, memberikan pelayanan yang memuaskan, menjaga
          kebersihan dan kemanan serta nilai-nilai lainnya yang mendukung terjadinya kepuasan
          konsumen.</p>
      </div>
    </div>
    <div class="row mission">
      <div class="col-12 col-md-6 align-self-center">
        <h2 class="title">Misi</h2>
        <ul class="pl-3">
            <li>
                <p>Memuaskan customer, membanggakan Indonesia.</p>
            </li>
            <li>
                <p>Memberikan kepuasan kepada seluruh Stakeholders.</p>
            </li>
            <li>
                <p>Mengembangkan bisnis ke seluruh indonesia.</p>
            </li>
            <li>
                <p>Tetap paranoid, selalu berinovasi.</p>
            </li>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <%= image_tag "img-misi.jpg", class: "img-fluid" %>
      </div>
    </div>
  </div>
</section>

<section id="history" class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h2 class="title">Sejarah McDonald's Indonesia</h2>
        <p class="subtitle">McDonald’s merupakan restoran fast food terbesar di dunia yang diawali 
          pada tahun 1955 di California, Amerika Serikat. Dengan produk unggulan berupa Burger 
          bernama Bigmac, McDonald’s hingga saat ini telah memiliki ribuan restoran yang tersebar
          di lebih dari 100 negara, salah satunya Indonesia. McDonald’s pertama kali masuk ke 
          Indonesia pada tahun 1991 dengan membuka restoran pertamanya di Sarinah, Thamrin.
        </p>
        <p>
          <a href="" class="btn btn-link btn-sm text-left" data-toggle="modal" data-target="#historyDetail">
            Lihat Selengkapnya <i class="fa fa-angle-right"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
