<% content_for :javascript_includes do %>
  <%= javascript_include_tag "owl.carousel" %>
  <%= stylesheet_link_tag  "owl.carousel", "animate", "owl.theme" %>
<% end %>

<script>
  jQuery(document).ready(function($) {
    $('.banner').owlCarousel({
      animateOut: 'slideOutDown',
      animateIn: 'flipInX',
      loop: true,
      autoplay: true,
      autoplayHoverPause: true,
      items: 1,
      nav : true,
      dotsEach: true,
      autoplaySpeed: 5000,
      navText : ['<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-left fa-stack-1x fa-inverse"></i></span>','<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-right fa-stack-1x fa-inverse"></i></span>']
    });
  });
</script>

<!-- header -->
<% adjust_header = current_user.nil? ? "" : "logged-banner" %>
<section id="header" class="<%= adjust_header %>">
  <div class="row no-gutters f-banner">
    <div class="col-12">
        <div class="banner owl-carousel owl-theme">
          <% @banners.each do |banner| %>
            <div class="item">
              <%= image_tag banner.image.url(:large) %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</section>

<section id="static-banner" class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-12 simple-content">
        <div class="row">
          <div class="col-12 col-md-6 no-p-lr left-banner">
            <%= link_to (image_tag @mini_banner_1.image.url, class: "img-fluid", style: "margin-bottom:10px;"), "#" %>
            <%= link_to (image_tag @mini_banner_2.image.url, class: "img-fluid"), "#" %>
          </div>
          <div class="col-12 col-md-4 mid-banner">
            <%= link_to (image_tag @mini_banner_3.image.url, class: "img-fluid"), "#" %>
          </div>
          <div class="col-12 col-md-2 no-p-lr right-banner">
            <%= link_to (image_tag @mini_banner_4.image.url, class: "img-fluid", style: "margin-bottom:10px;"), "#" %>
            <%= link_to (image_tag @mini_banner_5.image.url, class: "img-fluid", style: "margin-bottom:10px;"), "#" %>
            <%= link_to (image_tag @mini_banner_6.image.url, class: "img-fluid"), "#" %>
          </div>
        </div>
        <%# <a class="white-button add-transition" id="about-works"><span>see works</span></a> %>
      </div>
    </div>
  </div>
</section>

