<section class="single-page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Promotions</h2>
      </div>
      <div class="col-md-5 align-self-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Admin", admin_path %></li>
            <li class="breadcrumb-item active" aria-current="page">Promotions</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="admin-section-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 admin-promotions">
        <%= render :partial => "shared/flash" %>
        <p><%= link_to "Add new promotion", new_admin_promotion_path, class: "btn btn-primary" %></p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Image</th>
              <th>Name</th>
              <th>Type</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% @promotions.each_with_index do |promotion, x| %>
              <tr>
                <th scope="row"><%= @no+x+1 %></th>
                <td><%= image_tag promotion.image.url(:thumb) %></td>
                <td><%= promotion.name %></td>
                <td><%= promotion.promo_type %></td>
                <td>
                  <%= link_to "Edit", edit_admin_promotion_path(promotion.id, :page => params[:page]), :class => "btn btn-success" %>
                  <%= link_to "Delete", admin_promotion_path(promotion.id, :page => params[:page] ), :method => :delete,
                                        data: {:confirm => "Are you sure?"}, :class => "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="col-xs-12 pagination justify-content-center"><%= paginate @promotions %></div>
      </div>
    </div>
  </div>
</section>

