<%# content_for :javascript_includes do %>
  <%#= javascript_include_tag "/assets/ckeditor/ckeditor" %>
<%# end %>

<%= simple_form_for [:admin, @category], wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <div class="form-group row mb-0">
    <div class="col-sm-9 offset-sm-3">
      <%= f.button :submit, class: "btn-primary" %>
      <%= link_to "Cancel", admin_categories_path(:page => params[:page]), 
                  class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>

