<% content_for :javascript_includes do %>
  <%= javascript_include_tag "slick" %>
  <%= stylesheet_link_tag  "slick", "slick-theme" %>
<% end %>

<section class="main-section <%= manage_menu %>">
  <div class="container">
    <div class="row">
      <div class="col-12 header-n-breadcrumb">
        <div class="row">
          <%# <div class="col-12 col-sm-10 offset-md-1 col-md-8 offset-md-2">
            <h2>OUR PRODUCTS</h2>
          </div> %>
          <%# <div class="col-12 col-sm-10 offset-md-1 col-md-8 offset-md-2">
            <p>Menyajikan berbagai macam olahan Ayam Kripsi dengan 12 Bumbu Rahasia, 
               yang di sajikan bersama 10 Pilihan Saus Premium</p>
          </div> %>
        </div>
      </div>

      <div class="col-12 category-list">
        <% @categories.each do |category| %>
          <%= link_to category.name.upcase, products_path(category.permalink),
                      class: "category btn btn-red #{'category-active' if params[:category] == category.permalink}" %>
        <% end %>
      </div>
      

      <div class="col-12 product-list">
        <div class="product-slick">
          <% @products.each do |product| %>
            <div class="item" style="padding:5px;position: relative">
              <%= image_tag product.image(:medium), class: "img-fluid" %>
              <%= link_to product_path(category: @category.permalink, permalink: product.permalink), 
                          class: "p-detail-link" do %>
                <div class="product-detail">
                  <%= product.name %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
$(document).ready(function(){
  $('.product-slick').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    infinite: false,
    focusOnSelect: true,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      },
      {
        breakpoint: 576,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
    ]
  });
});
</script>
