<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% if @meta_description.present? %>
      <meta name="description" content="<%= @meta_description %>">
    <% end %>
    <meta name="author" content="">
    <title><%= @meta_title ? @meta_title : ApplicationController::BRAND_NAME %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'style' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascript_includes %>
    <%= yield :css_includes %>
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
      <script src="/assets/respond.min.js"></script>
    <![endif]-->
    <%#= favicon_link_tag "favicon.ico" %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155058376-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155058376-1');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s){
        if(f.fbq)return;n=f.fbq=function(){
          n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)
        };
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '825759511181375');
          fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=825759511181375&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>

  <body>
    <% adjust_header = "" %>
    <% unless current_user.nil? %>
      <% adjust_header = "logged" %>
      <section class="d-none d-sm-block logged-user">
        <div class="row">
          <div class="col-12 user-info-bar">
            <div class="row">
              <div class="col-12" id="login-pan">
                <%= raw welcome_text %>
              </div>
            </div>
          </div>
        </div>
      </section>
    <% end %>
    <!-- navbar -->
    <nav id="nav" class="<%= adjust_header %>" style="">
      <div class="container">
        <!-- logo -->
        <%= link_to root_path, class: "logo" do %>
        <%# <a class="logo" href="http://www.remonfawzi.com/projects/vamous"> %>
          <%= image_tag "logo.png", class: "logo1 img-fluid", style: "width:100px", alt: "kandang ayam" %>
        <%# </a> %>
        <% end %>
        <!-- menu bars -->
        <div class="bars" id="bars">
            <span class="first"></span>
            <span class="second"></span>
            <span class="third"></span>
        </div>

        <ul id="menu" class="links">
          <li class="<%= is_active(['home'],['index']) %>"><%= link_to "HOME", root_path %></li>
          <li class="<%= is_active(['home'],['about_us']) %>"><%= link_to "ABOUT", about_us_path %></li>
          <li class="<%= is_active(['products']) %>">
            <%= link_to "MENU", products_path(Category.default) %>
          </li>
          <li class="<%= is_active(['promotions']) %>">
            <%= link_to "PROMO", promo_path(Promotion::TYPE.first) %>
          </li>
          <li class="<%= is_active(['locations']) %>">
            <%= link_to "LOCATION", location_path(Location.default) %>
          </li>
          <li class="<%= is_active(['contact_us']) %>">
            <%= link_to "CONTACT", contact_us_path %>
          </li>
        </ul>
        <div class=''>
          <ul class="social">
            <li class="line"><%= link_to (image_tag "icon-line.png", alt: "kandang ayam line"), "https://line.me/R/ti/p/%40bfl4174d", target: "_blank" %></li>
            <li class="instagram"><%= link_to (image_tag "icon-ig.png", alt: "kandang ayam instagram"), "https://www.instagram.com/kandang_ayam", target: "_blank" %></li>
            <li class="facebook"><%= link_to (image_tag "icon-fb.png", alt: "kandang ayam facebook"), "https://www.facebook.com/kandangayambdg", target: "_blank" %></li>
            <li class="whatsapp"><%= link_to (image_tag "icon-wa.png", alt: "kandang ayam wa"), " https://api.whatsapp.com/send?phone=6287823200600&text=Hai%21%20Aku%20mau%20nanya%20dong", target: "_blank" %></li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer>
      <div class="footer-top-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12 bar-1">
              <div class="fw-info footer-widget">
                <p class="text">
                  Daftarkan Email Kamu dan Dapatkan Diskon Dari Kami
                </p>
                <div class="subscribe">
                  <%= form_tag subscribe_path, remote: true do %>
                  <div class="row">
                    <div class="form-group col-12">
                      <%= email_field_tag 'email', "", class: "form-control", placeholder: "Email Address", required: true %>
                    </div>
                    <div class="form-group col-12 col-sm-6">
                      <%= text_field_tag 'full_name', "", class: "form-control", placeholder: "Full Name", required: true %>
                    </div>
                    <div class="form-group col-12 col-sm-6">
                      <%= text_field_tag 'phone', "", class: "form-control", placeholder: "WA Number", required: true %>
                    </div>
                    <div class="form-group col-12 subscribe-button">
                      <%= button_tag "Subscribe", class: "btn btn-outline-white", data: { disable_with: "Please wait..."} %>
                    </div>
                  </div>
                  <% end %>
                  <!-- Modal Start -->
                  <div class="modal fade"  id="product-detail-modal"  tabindex="-1" role="dialog"
                      aria-labelledby="demoModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered  modal-sm  " role="document">
                      <div class="modal-content">
                        <div class="container-fluid">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <div class="row">
                            <div class="col-md-12 py-5 my-auto subscribe_text">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal Ends -->
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-3 col-6 bar-2">
              <div class="fw-links footer-widget">
                <div class="title">Menu</div>
                <ul>
                  <li><%= link_to "About", about_us_path %></li>
                  <li><%= link_to "Menu", products_path(Category.default) %></li>
                  <li><%= link_to "Promo", promo_path(Promotion::TYPE.first) %></li>
                  <li><%= link_to "Location", location_path(Location.default) %></li>
                  <li><%= link_to "Contact", contact_us_path %></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 bar-3">
              <div class="fw-sosmed footer-widget">
                <div class="title">Follow Us</div>
                <ul>
                  <li><%= link_to "Line Official", "https://line.me/R/ti/p/%40bfl4174d", target: "_blank" %></li>
                  <li><%= link_to "Instagram", "https://www.instagram.com/kandang_ayam", target: "_blank"%></li>
                  <li><%= link_to "Facebook", "https://www.facebook.com/kandangayambdg", target: "_blank" %></li>
                  <li><%= link_to "Whatsapp", " https://api.whatsapp.com/send?phone=6287823200600&text=Hai%21%20Aku%20mau%20nanya%20dong", target: "_blank" %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="copyright">
                <p>Copyright © <%= Date.today.year %> <span>Kandang Ayam</span>. All Rights Reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>

  <%= stylesheet_link_tag  "lunar" %>
</html>
